<%= form.inputs do -%>
  <%= form.input :title %>
  <%= form.input :slug, :hint => "Leer lassen für einen automatisch generierten Titelauszug." %>
  <%= form.input :body, :hint => "<a href='http://textile.thresholdstate.com/'>Textile Anleitung</a>. Benutze Ctrl+E um zwischen dem Vorschau und Bearbeitungsmodus zu wechseln.".html_safe %>
<% end -%>
