<h1>Deine Seiten</h1>

<table id='pages'>
  <thead>
    <tr>
      <th>Erstellt am</th>
      <th>Kommentator</th>
      <th>Auszug</th>
      <th>Beitrag</th>
      <th>Aktivität</th>
    </tr>
  </thead>

  <tbody>
    <% if @pages.empty? -%>
      <tr><td colspan="5">Es gibt keine Seiten zur Zeit.</td></tr>
    <% else -%>
      <%= render :partial => 'page', :collection => @pages %>
    <% end -%>
  </tbody>

  <tfoot>
    <% if @pages.total_pages > 1 -%>
      <tr class="pagination">
        <td colspan='5'>
          <%= will_paginate(@pages, :previous_label => '« Newer', :next_label => 'Older »') %>
        </td>
      </tr>
    <% end -%>
  </tfoot>
</table>
