<h1>Kommentare</h1>

<table id='comments'>
  <thead>
    <tr>
      <th>Erstellt am</th>
      <th>Kommentator</th>
      <th>Auszug</th>
      <th>Beitrag</th>
      <th>Aktivität</th>
    </tr>
  </thead>

  <tbody>
    <% if @comments.empty? -%>
      <tr><td colspan="5">Es gibt keine Kommentare zur Zeit.</td></tr>
    <% else -%>
      <%= render :partial => 'comment', :collection => @comments %>
    <% end -%>
  </tbody>

  <tfoot>
    <% if @comments.total_pages > 1 -%>
      <tr class="pagination">
        <td colspan='5'>
          <%= will_paginate(@comments, :previous_label => '« Newer', :next_label => 'Older »') %>
        </td>
      </tr>
    <% end -%>
  </tfoot>
</table>
