<h1>Deine Beiträge</h1>

<table id='posts'>
  <thead>
    <tr>
      <th>Erstellt am</th>
      <th>Kommentator</th>
      <th>Auszug</th>
      <th>Kommentare</th>
      <th>Aktivität</th>
    </tr>
  </thead>

  <tbody>
    <% if @posts.empty? -%>
      <tr><td colspan="5">Es gibt keine Beiträge zur Zeit.</td></tr>
    <% else -%>
      <%= render :partial => 'post', :collection => @posts %>
    <% end -%>
  </tbody>

  <tfoot>
    <% if @posts.total_pages > 1 -%>
      <tr class="pagination">
        <td colspan="5">
          <%= will_paginate(@posts, :previous_label => '« Newer', :next_label => 'Older »') %>
        </td>
      </tr>
    <% end -%>
  </tfoot>
</table>
